.md-tooltip{
  padding: 10px 15px;
  min-width: 130px;
  max-width: 200px;
  height: auto;
  text-align: center;
  border-radius: $border-radius-base;
  background-color: $white-color !important;
  color: $gray !important;
  font-size: $tooltip-font-size;
  font-weight: 400;
  white-space: normal;
  @include shadow-8dp();
}
